<div class="table">
  <img [src]="selectedImg" *ngIf="!!selectedImg" class="tooltip">
  <div class="t-header">
    <h1 class="t-col">Please select city and then hood</h1>
    <label for="cities" class="t-col ">
      <select name="cities" id="cities" (change)="getHoods(city.value)" #city>
        <option value=null [selected]="selectedCity === null" disabled hidden>Choose here</option>
        <option *ngFor="let city of cities" [value]="city._id">{{city.name}}</option>
      </select>
    </label>
    <label for="hoods" class="t-col ">
      <select name="hoods" id="hoods" (change)="getApartmentsByHoodId(hood.value)" #hood>
        <option value=null [selected]="selectedHood===null" disabled hidden>Choose here</option>
        <option *ngFor="let hood of hoods" [value]="hood._id">{{hood.name}}[{{hood.hoodId}}]</option>
      </select>
    </label>
  </div>
  <div class="t-header">
    <div class="t-col address" (click)="sortByStreet()">
      <span>Address</span>
      <a target="_blank" href="{{path}}">[path]</a>
    </div>
    <div class="t-col price" (click)="sortByPrice()">Price</div>
    <div class="t-col updated ">Updated</div>
    <div class="t-col added ">Added</div>
    <div class="t-col floor ">Floor</div>
    <div class="t-col rooms ">Rooms</div>
    <div class="t-col meters ">Meters</div>
    
    <div class="images t-col">[i]</div>
    <div class="t-col seller" *ngIf="false">Seller</div>
  
  </div>
  <div class="t-body">
    <div class="t-row" *ngFor="let apartment of apartments" [class.makler]="apartment.viaMakler">
      <div class="t-col address">
        <span
          class="text"
          [title]="[apartment.city,apartment.hood,apartment.street].join('\n')">
          {{apartment.street}}
          {{apartment.homeNumber}}
        </span>
        
        <span class="path-toggle" (click)="toggleApartmentInPath(apartment)">
          <span *ngIf="!apartment.addToPath">[p]</span>
          <span *ngIf="apartment.addToPath">[-]</span>
        </span>
        
        <a
          target="_blank"
          href="https://www.google.co.il/maps/dir//{{apartment.city}},{{apartment.street}},{{apartment.homeNumber}}/">
          [map]
        </a>
        <a target="_blank" [href]="generateTamaLinkAddress(apartment)">[t38]</a>
      
      </div>
      <div class="price t-col" [class.makler]="apartment.viaMakler">
        <a target="_blank" href="https://yad2.co.il/item/{{apartment.apartmentId}}">{{apartment.price || '~'}}</a>
      </div>
      <div class="updated t-col">{{apartment.updated | date}}</div>
      
      <div class="added t-col">{{apartment.added | date}}</div>
      
      <div class="floor t-col">{{apartment.floor}} / {{apartment.totalFloors}}</div>
      
      <div class="rooms t-col">{{apartment.rooms}} </div>
      
      <div class="meters t-col">{{apartment.meters}} </div>
      
      
      <div class="images t-col">
        <span
          *ngFor="let img of apartment.images; let i = index"
          (mouseenter)="selectedImg = img"
          (mouseleave)="selectedImg = null"
          class="image-counter"

        >
          [{{i}}]
          
        </span>
      </div>
      
      <div class="seller t-col" *ngIf="false">
        <span class="text" [title]="apartment.sellerName">
          {{apartment.sellerName}}
        </span>
        <a
          [title]="apartment.sellerPhone1"
          target="_blank"
          href="https://web.whatsapp.com/send?phone=+972{{apartment.sellerPhone1.replace('0', '')}}">
          [1]
        </a>
        <a
          *ngIf="apartment.sellerPhone2"
          [title]="apartment.sellerPhone2"
          target="_blank"
          href="https://web.whatsapp.com/send?phone=+972{{apartment.sellerPhone2.replace('0', '')}}">
          [2]
        </a>
      
      </div>
    
    </div>
  
  </div>
</div>
<ng-template #HtmlTemplate>
  <img [src]="currentImage" alt="">
</ng-template>

